form {
    padding: 20px 0px;
    border-radius: 10px;
   
}

form input {
    width: 75%;
    margin-top: 10px;
    border-radius: 5px;
    height: 40px;
    border: 0.6px solid black;
}

.reg-btn {
    background-color: aqua;
}